# 2021 - J1 - Métropole 2

## Exercice 1

1 -  La relation `Role` possède une clé primaire composée du triplet $(\texttt{\#idPiece, \#idActeur, \#nomRole})$. Il est obligatoire de posséder une clé primaire lorsque l'on insère une entrée. Or le triplet est composé de deux clés étrangères.

**Si** les relations `Piece` et `Acteur` sont vides, **alors** le triplet ne peut pas être défini car l'unicité de la clé primaire n'est plus assurée. Le système de base de donnée lève alors une exception.

2 - Pour effectuer cette insertion, il faut écrire :

```sql
INSERT INTO Role(#idPiece, #idActeur, nomRole) VALUES
    (46721, 389761, 'Tartuffe');
```

3-  Cette requête met à jour certaines entrées de la relation `Piece`. Toutes les entrées qui possèdent les valeurs `"Américain"` ou `"Britannique"` pour l'attribut `langue` voient ces valeurs changer pour `"Anglais"`.

4.a - Nom et prénom des artistes nés après 1990 :

```sql
SELECT nom, prenom
FROM Acteur
WHERE anneeNaiss > 1990;
```

4.b - Année de naissance du plus jeune artiste :

```sql
SELECT MIN(anneeNaiss)
FROM Acteur;
```

4.c - Le nom des rôles joués par Vincent Macaigne :

```sql
SELECT DISTINCT R.nomRole
FROM Acteur AS A
JOIN Role AS R ON A.idActeur = R.#idActeur
WHERE A.nom = "Macaigne" and A.prenom = "Vincent";
```

4.d -  Le titre des pièces écrites en Russe dans lesquelles l’actrice Jeanne Balibar a joué :

```sql
SELECT P.titre
FROM Piece P
JOIN Role R on P.idPiece = R.#idPiece
JOIN Acteur A ON R.#idActeur = A.idActeur
WHERE P.langue = "Russe"
    AND A.nom = "Balibar"
    AND A.prenom = "Jeanne";
```